In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import os
import pickle

In [4]:
def load_artifact(targ_file:str):
    targ_path = os.path.join(dir,targ_file)

    with open(targ_path,'rb') as fp:
        test_artifact = pickle.load(fp)

    return test_artifact

In [5]:
# Each time that you initialize Dagster a new temporary folder is created.
# For the porpuse of this exercise we will save data in that temporary folder.
# Substitute tmp*** with your folder (you can fin it in this repo).
dir = "../tmpw7w4cmxn/storage/"

`core_data`

| Feature Name           | Description                                                  |
|------------------------|--------------------------------------------------------------|
| rating_account_id      | Unique identifier for the contract account                    |
| customer_id            | Unique identifier for the customer                           |
| age                    | Age of the customer                                          |
| contract_lifetime_days | Total duration of the customer contract in days              |
| remaining_binding_days | Number of days left in the contract binding period - usual binding period is 2 years        |
| has_special_offer      | Indicates if the customer has a special offer      |
| is_magenta1_customer   | Indicates if the customer is part of the Magenta1 program - fedelty program    |
| available_gb           | Amount of mobile data included in the current tariff         |
| gross_mrc              | Gross monthly recurring charge (in euros)                    |
| smartphone_brand       | Brand of the customer’s smartphone                           |
| has_done_upselling     | Whether the customer has already done an upsell in the last 3 years      |

In [6]:
core_data = load_artifact("core_data")
core_data

,rating_account_id,customer_id,age,contract_lifetime_days,remaining_binding_days,has_special_offer,is_magenta1_customer,available_gb,gross_mrc,smartphone_brand,has_done_upselling
0,182161,3.841862,37,941,418,1,1,10,66.02,iPhone,0
1,874537,5.452041,31,469,158,0,0,30,34.18,iPhone,0
2,433931,3.129000,42,274,-41,0,1,50,64.69,Samsung,0
3,283294,3.842640,44,373,157,0,1,40,58.06,iPhone,0
4,881198,1.203226,45,189,-82,1,0,0,39.49,Huawei,0
...,...,...,...,...,...,...,...,...,...,...,...
99995,238206,5.295810,95,1754,129,1,0,50,56.73,Samsung,0
99996,542662,1.112621,86,1189,-78,0,1,0,7.65,Samsung,0
99997,946030,3.140776,89,1757,-654,0,1,0,26.22,Samsung,0
99998,827962,4.981519,96,1336,89,0,0,None,24.90,Xiaomi,0
99999,317061,3.580423,79,1455,287,0,0,0,67.35,Samsung,0

`usage_info`

| Feature Name           | Description                                                  |
|------------------------|--------------------------------------------------------------|
| rating_account_id      | Unique identifier for the contract account                    |
| billed_period_month_d  | Billing period (monthly)                                     |
| has_used_roaming       | Indicates if roaming was used during the period            |
| used_gb                | Amount of mobile data used in the billing period (in GB)     |

In [7]:
usage_info = load_artifact("usage_info")
usage_info

        rating_account_id billed_period_month_d  has_used_roaming  used_gb
0                  182161            2024-04-01                 0      0.4
1                  182161            2024-05-01                 0      0.4
2                  182161            2024-06-01                 0      0.9
3                  182161            2024-07-01                 0      0.6
4                  874537            2024-04-01                 1      0.5
...                   ...                   ...               ...      ...
399995             827962            2024-07-01                 0     15.5
399996             317061            2024-04-01                 0     51.9
399997             317061            2024-05-01                 0     55.9
399998             317061            2024-06-01                 1     29.4
399999             317061            2024-07-01                 0     64.1

[400000 rows x 4 columns]

`customer_interactions`

| Feature Name   | Description                                                              |
|----------------|--------------------------------------------------------------------------|
| customer_id    | Unique identifier for the customer                                       |
| type_subtype   | Category and subtype of the interaction (e.g., tariff change, billing)   |
| n              | Number of interactions of this type in the last 6 months                                |
| days_since_last| Number of days since the last interaction of this type                   |

In [8]:
customer_interactions = load_artifact("customer_interactions")
customer_interactions

      customer_id                    type_subtype  n  days_since_last
0        5.115336               rechnungsanfragen  2                0
1        3.350983                    prolongation  1               84
2        1.365630               rechnungsanfragen  2              159
3        2.722840               rechnungsanfragen  2              128
4        2.722840  produkte&services-tarifwechsel  1               61
...           ...                             ... ..              ...
63014    5.678207               rechnungsanfragen  1               32
63015    1.456900                    prolongation  1              125
63016    1.456900               rechnungsanfragen  2               71
63017    5.161701  produkte&services-tarifwechsel  1              131
63018    5.161701  produkte&services-tarifdetails  1               35

[63019 rows x 4 columns]

In [9]:
df_combined = core_data.copy()

In [10]:
df_combined = df_combined.merge(
    usage_info,
    on='rating_account_id',
    how='left'
)

In [11]:
df_combined = df_combined.merge(
    customer_interactions,
    on='customer_id',
    how='left'
)

In [12]:
df_combined

,rating_account_id,customer_id,age,contract_lifetime_days,remaining_binding_days,has_special_offer,is_magenta1_customer,available_gb,gross_mrc,smartphone_brand,has_done_upselling,billed_period_month_d,has_used_roaming,used_gb,type_subtype,n,days_since_last
0,182161,3.841862,37,941,418,1,1,10,66.02,iPhone,0,2024-04-01,0,0.4,NaN,NaN,NaN
1,182161,3.841862,37,941,418,1,1,10,66.02,iPhone,0,2024-05-01,0,0.4,NaN,NaN,NaN
2,182161,3.841862,37,941,418,1,1,10,66.02,iPhone,0,2024-06-01,0,0.9,NaN,NaN,NaN
3,182161,3.841862,37,941,418,1,1,10,66.02,iPhone,0,2024-07-01,0,0.6,NaN,NaN,NaN
4,874537,5.452041,31,469,158,0,0,30,34.18,iPhone,0,2024-04-01,1,0.5,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499859,827962,4.981519,96,1336,89,0,0,None,24.90,Xiaomi,0,2024-07-01,0,15.5,NaN,NaN,NaN
499860,317061,3.580423,79,1455,287,0,0,0,67.35,Samsung,0,2024-04-01,0,51.9,rechnungsanfragen,2.0,49.0
499861,317061,3.580423,79,1455,287,0,0,0,67.35,Samsung,0,2024-05-01,0,55.9,rechnungsanfragen,2.0,49.0
499862,317061,3.580423,79,1455,287,0,0,0,67.35,Samsung,0,2024-06-01,1,29.4,rechnungsanfragen,2.0,49.0
499863,317061,3.580423,79,1455,287,0,0,0,67.35,Samsung,0,2024-07-01,0,64.1,rechnungsanfragen,2.0,49.0

In [13]:
# Fill NaN values based on column type
df_combined['type_subtype'] = df_combined['type_subtype'].fillna('no_interaction')
df_combined['n'] = df_combined['n'].fillna(0)
df_combined['days_since_last'] = df_combined['days_since_last'].fillna(-1)

In [14]:
# Count values in has_done_upselling column
print(core_data['has_done_upselling'].value_counts())
print(f"\nPercentage distribution:")
print(core_data['has_done_upselling'].value_counts(normalize=True) * 100)

has_done_upselling
0    93231
1     6769
Name: count, dtype: int64

Percentage distribution:
has_done_upselling
0    93.231
1     6.769
Name: proportion, dtype: float64

In [15]:
df_combined.columns

Index(['rating_account_id', 'customer_id', 'age', 'contract_lifetime_days',
       'remaining_binding_days', 'has_special_offer', 'is_magenta1_customer',
       'available_gb', 'gross_mrc', 'smartphone_brand', 'has_done_upselling',
       'billed_period_month_d', 'has_used_roaming', 'used_gb', 'type_subtype',
       'n', 'days_since_last'],
      dtype='object')

In [16]:
df_combined.dtypes

rating_account_id           int64
customer_id                object
age                         int64
contract_lifetime_days      int64
remaining_binding_days      int64
has_special_offer           int64
is_magenta1_customer        int64
available_gb               object
gross_mrc                 float64
smartphone_brand           object
has_done_upselling          int64
billed_period_month_d      object
has_used_roaming            int64
used_gb                   float64
type_subtype               object
n                         float64
days_since_last           float64
dtype: object